
@{
    ViewData["Title"] = "Editar";
    var reserva = (Reserva)Model;
}

<div class="row">
    <div class="region region-iconos-secciones">
        <h2 class="block-title">EDITAR RESERVA</h2>
    </div>
    <section class="col-sm-12" style="padding-top: 25px">
        <form action="/home/editar" method="post">
            <input type="hidden" name="DNI_User" value="@reserva.DNI_User" />
            <input type="hidden" name="Id" value="@reserva.Id" />
            <div class="form-group">
                <label>Elegir una o varias opciones</label>
                @foreach (var item in ViewBag.Servicios)
                {
                    <div class="form-check form-check">
                        <input name="servicio" class="form-check-input" type="checkbox" value="@item.Id">
                        <label class="form-check-label" for="inlineCheckbox1">@item.Nombre</label>
                    </div>
                }
                @Html.ValidationMessage("servicio")
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <input type="date" class="form-control" placeholder="Fecha" name="Fecha" value="" />
                @Html.ValidationMessage("Fecha")
            </div>
            <div class="form-group">
                <label>Nr° Horas: Eleguir una o varias opciones</label>
                @foreach (var item in ViewBag.Horarios)
                {
                    <div class="form-check form-check">
                        <input name="horario" class="form-check-input" type="checkbox" value="@item.Id">
                        <label class="form-check-label" for="inlineCheckbox1">@item.Hora_Inicio:00:00 - @item.Hora_Fin:00:00</label>@*verificar 3 estados - reservado - pendiente - libre*@
                    </div>
                }
                @Html.ValidationMessage("horario")
            </div>
            <div class="form-group">
                <label>Metodo de pago</label>
                <select class="form-control form-select" aria-label="Disabled select example" disabled>
                    <option selected>Efectivo</option>
                </select>
            </div>
            <div class="form-actions form-group js-form-wrapper form-wrapper" style="float: right">
                <button type="submit" class="button btn-primary btn">Editar y Guardar</button>
            </div>
        </form>
    </section>
</div>
